@font-face {
	font-family: "OpenDyslexic";
	src: url("../OpenDyslexic-Regular.woff");
}

@keyframes shake {
	10%, 90%
	{
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80%
	{
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70%
	{
		transform: translate3d(-4px, 0, 0);
	}
	40%, 60%
	{
		transform: translate3d(4px, 0, 0);
	}
}

* {
	box-sizing: border-box;
	color: #222;
	font-family: "OpenDyslexic", sans-serif;
}

.animation--shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	backface-visibility: hidden;
	perspective: 1000px;
	transform: translate3d(0, 0, 0);
}

body {
	background-color: #e5e5f7;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23444cf7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	font-size: 16px;
	height: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	width: 100%;
}

.bottom {
	bottom: 20%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	position: absolute;
	width: 100%;
}

.button {
  align-items: center;
	background: #444cf7;
	border: none;
	border-radius: 10px;
	box-shadow: 0.3px 0.5px 0.7px hsl(240deg 31% 57 / 0.34),
    0.4px 0.8px 1px -1.2px hsl(240deg 31% 57 / 0.34),
    1px 2px 2.5px -2.5px hsl(240deg 31% 57 / 0.34);
	display: flex;
	justify-content: center;
	margin: 2.5%;
	padding: 1.5%;
}

.button:active {
  transform: scale(0.95);
}

.button--flex-grow-1 {
  flex-grow: 1;
}

.button--flex-grow-7 {
  flex-grow: 7;
}

.guess-container {
	background: #444cf7;
	border-radius: 10px;
	bottom: 40%;
	display: flex;
	height: auto;
	left: 47.5%;
	max-width: 97.5%;
	position: absolute;
	text-align: center;
	transform: translate(-47.5%, -40%);
	width: auto;
}

.guess {
  align-items: center;
	height: 1.75em;
	display: flex;
	justify-content: center;
	width: 1.75em;
}

.image {
	display: grid;
	grid-gap: 5%;
	grid-template-columns: repeat(2, auto);
}

.image > * {
	border: solid #444cf7 2.5px;
	border-radius: 10px;
	height: 175px;
	place-self: center;
	width: 175px;
}

.image img:hover {
	scale: 1.1;
}

.image__clue {
	background: #444cf7;
	display: none;
	font-size: 0.5em;
	overflow-x: scroll;
	padding: 1em;
}

.image__clue:nth-of-type(2) {
	display: block;
	font-size: 2.5em;
	text-align: center;
}

.letter-container {
	background: #444cf7;
	border-radius: 10px;
	display: grid;
	font-size: 1.25em;
	grid-gap: 5px;
	grid-template-columns: repeat(10, auto);
	margin: 2.5%;
	margin-bottom: 1.25%;
	text-align: center;
	width: 100%;
}

.letter-container span {
  flex-grow: 10;
	height: 1.75em;
	text-align: center;
	width: 1.75em;
}

.menu {
	background: #444cf7;
	display: flex;
	font-size: 1.5em;
	justify-content: space-between;
	margin-bottom: 10%;
	width: 100%;
}

.menu * {
  margin: 0 2.5% 0 !important;
  padding: 0 !important;
}

.modal {
  background: #444cf7;
	border-radius: 20px;
	display: none;
	font-size: 1em;
	padding: 20px;
	position: fixed;
	transform: translate(-50%, -50%);
	width: 80%;
	z-index: 10;
}

.modal__hint {
	height: 20%;
	left: 50%;
	overflow-x: scroll;
	top: 50%;
}

.modal__pause {
	height: 40%;
	left: 50%;
	padding: 20px;
	top: 40%;
}

.modal__pause button {
	background: #444cf7;
	border: none;
	display: flex;
	font-size: 1.5em;
}

.modal__pause button:not(:last-child) {
	margin-bottom: 20px;
}

.gameover-container {
	background: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 10;
}

.gameover-container > span {
  align-items: center;
	color: white;
	font-size: 2.5em;
	display: flex;
	justify-content: center;
}
