* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  background: #f0f0f0;
  font-size: 16px;
  margin: 0;
  padding: 0;
  user-select: none;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}


.header__stats > div {
  float: left;
  border: solid 1px;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  height: 40px;
  margin: 0 5px;
}

.energy, .health, .happiness {
  background: linear-gradient(180deg, blue 10%, red 0);
}

.main {
  height: calc(100vh - 50px);
}

.rooms {
  overflow-x: hidden;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;
  height: inherit;
}

.rooms > div {
  width: 100%;
  height: inherit;
  display: inline-block;
  scroll-snap-align: center;
  width: 100%;
  overflow: hidden;
}

.room-name {
  font-size: 20px !important;
  left: 50%;
  transform: translate(-50%);
}

.icon {
  font-size: 75px;
  z-index: 100;
  position: absolute;
  display: none;
}

.icon--shown {
  display: block;
}

.nucleus-icon {
  font-size: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline;
}

.shop-btn {
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
}

.mitochondrion-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.icon__bottom-nav--left {
  left: 0%;
  top: 100%;
  transform: translate(0%, -100%);
}

.icon__bottom-nav--center {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

.goto--left-organelle {
  left: 0;
}

.goto--right-organelle {
  right: 0;
}

.organelle-name {
  left: 50%;
  transform: translateX(-50%);
}

#nuclear-membrane {
  background-color: #e5e5f7;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23444cf7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#mitochondrion {
  background-color: #e5e5f7;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23444cf7' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#lysosome {
  background-color: #e5e5f7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23444cf7' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}